* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  font-family: sans-serif;
  }

#title {
  text-align: center;
  color: #8d0e63;
  font-size: 5rem;
  font-family: 'Darumadrop One', cursive;
  text-align: center;
}

input {
  position: relative;
  font-size: 1.5rem;
  background: linear-gradient(21deg, #25a340, #8d0e63 );
  display: inline-block;
  border-radius: 9999em;
  margin-top: 3rem;
}

::placeholder {
  color: rgb(0, 0, 0);
}


#player1 {
  height: 4rem;
  font-family: 'Darumadrop One', cursive;
  text-align: center;
}

#player2 {
  height: 4rem;
  font-family: 'Darumadrop One', cursive;
  text-align: center;
}

#start {
  text-align: center;
  height: 4rem;
  font-family: 'Darumadrop One', cursive;
  position: relative;
  font-size: 1.5rem;
  background: linear-gradient(21deg, #00ff37, #ff00aa );
  display: inline-block;
  border-radius: 9999em;
  margin-left: 2rem;
  margin-top: 3rem;
}

h2 {
  font-family: 'Darumadrop One', cursive;
  color: aliceblue;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 75rem;
  background-color: #25a340;
  border-radius: 9999em;
  
  background-repeat: no-repeat;
}
  
  #gameBoard {
    background-color: #8d0e63;
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    grid-template-rows: 10rem 10rem 10rem;
    gap: .5rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    max-width: 25rem;
  }
  
  #gameBoard span {
    background-color: #ddd;
    display: grid;
    border: 10px solid rgb(95, 11, 67);
    place-content: center;
    font-size: 5rem;
  }
  
  #gameBoard span.win {
    background-color: #25a340;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }